<div class="payments">
  <h1>Payments</h1>
  <div class="desktop-text mb-5">
    <p>We only accept payments in crypto - supported coins are BTC, LTC, ETH.</p>
    <p>Price for the cheat is roughly 40 EUR / month, converted to the coin of your choice.</p>
  </div>
  <p class="mobile-text mb-3">
    We only accept payments in crypto - supported coins are BTC, LTC, ETH. Price for the cheat is roughly 40 EUR / month, converted to the
    coin of your choice.
  </p>
  <ul>
    <li><img src="./assets/images/btc.png" alt="BTC" /></li>
    <li><img src="./assets/images/ltc.png" alt="LTC" /></li>
    <li><img src="./assets/images/eth.png" alt="ETH" /></li>
  </ul>
</div>
