// Main colors
$white: #ffffff;
$black: #000000;
$dark-black: #0a0a0a;
$medium-black: #222222;
$light-gray: #3a3a3a;
$gray: #cccccc;

// Theme colors
$primary: #e38718;

// Utilities
$danger: #c50000;
$success: #00a300;
$overlay: #000000be;
