@import 'colors';

.dropdown-menu {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  border: 2px solid $medium-black;
  border-radius: 8px;
  background-color: $black;
  min-width: 220px;

  a,
  button {
    padding: 6px 20px;
    color: $white;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 12px;

    &:hover {
      background-color: $dark-black;
      color: $primary;
      font-weight: bolder;
    }
  }

  fa-icon {
    display: inline-block;
    width: 24px;
    text-align: center;
  }
}
