<form [formGroup]="form" class="dialog-wrapper">
  <div class="dialog-content">
    <button type="button" class="close" (click)="dialogRef.close()">
      <xo-icon icon="close-square" color="white" [size]="33"></xo-icon>
    </button>

    <label class="form-label">Config name</label>
    <input type="text" class="form-control mb-4" placeholder="Enter a name..." formControlName="name" xoAutofocus />

    <button type="button" class="btn btn-rounded btn-save ml-auto" (click)="submit()">{{ isCreate ? 'Create' : 'Save' }}</button>
  </div>
</form>
