@import 'colors';

.form-label {
  font-size: 11px;
}

.option {
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 14px;

  &.option-slider {
    display: flex;
    gap: 20px;
    align-items: center;

    xo-slider {
      flex: 1;
    }

    .form-control {
      width: 56px;
      padding: 6px 10px;
      text-align: center;
      color: $primary;

      &:focus {
        border-color: $primary;
      }
    }
  }
}
