<div class="container">
  <footer>
    <p>&copy; {{ currentYear }} XOAIM.COM</p>
    <nav>
      <a href="https://www.youtube.com/@XOAim" target="_blank">
        <xo-icon icon="youtube" color="primary" [size]="21" [offset]="4"></xo-icon>
      </a>
      <a href="https://www.instagram.com/xoaim.cs2" target="_blank">
        <xo-icon icon="instagram" color="primary" [size]="21" [offset]="5"></xo-icon>
      </a>
      <a href="https://twitter.com/xoaim_cs2" target="_blank">
        <xo-icon icon="twitter" color="primary" [size]="21" [offset]="5"></xo-icon>
      </a>
      <a href="https://www.tiktok.com/@xoaim.com" target="_blank">
        <xo-icon icon="tiktok" color="primary" [size]="21" [offset]="5"></xo-icon>
      </a>
      <a href="https://xoaim.com/discord" target="_blank">
        <xo-icon icon="discord" color="primary" [size]="21" [offset]="5"></xo-icon>
      </a>
    </nav>
  </footer>
</div>
