<div class="features">
  <swiper [config]="swiperConfig">
    <ng-template swiperSlide>
      <div class="slide-item">
        <h1>
          <xo-icon icon="target" color="primary" [size]="33" [offset]="5"></xo-icon>
          Aimbot
        </h1>
        <p>Our aimbot is highly configurable, allowing you to keep a low profile - to climb the ladders easily.</p>
        <a routerLink="/documentation" class="btn btn-sm btn-rounded">
          <xo-icon icon="eye-scan" color="primary" [size]="16" [offset]="4"></xo-icon>
          VIEW DOCUMENTATION
        </a>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide-item">
        <h1>
          <xo-icon icon="stopwatch" color="primary" [size]="33" [offset]="5"></xo-icon>
          Triggerbot
        </h1>
        <p>Enhance your performance with a highly accurate and fast triggerbot to gain an edge in every opportunity.</p>
        <a routerLink="/documentation" class="btn btn-sm btn-rounded">
          <xo-icon icon="eye-scan" color="primary" [size]="16" [offset]="4"></xo-icon>
          VIEW DOCUMENTATION
        </a>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide-item">
        <h1>
          <xo-icon icon="volume-loud" color="primary" [size]="33" [offset]="5"></xo-icon>
          Sound ESP
        </h1>
        <p>Don't like wallhacks, but still want to gain an advantage? You might like our Sound ESP feature...</p>
        <a routerLink="/documentation" class="btn btn-sm btn-rounded">
          <xo-icon icon="eye-scan" color="primary" [size]="16" [offset]="4"></xo-icon>
          VIEW DOCUMENTATION
        </a>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide-item">
        <h1>
          <xo-icon icon="male" color="primary" [size]="33" [offset]="5"></xo-icon>
          Utility
        </h1>
        <p>Our utility features include many useful things,which are auto-bunnyhop, auto-knife and auto-stop.</p>
        <a routerLink="/documentation" class="btn btn-sm btn-rounded">
          <xo-icon icon="eye-scan" color="primary" [size]="16" [offset]="4"></xo-icon>
          VIEW DOCUMENTATION
        </a>
      </div>
    </ng-template>
  </swiper>
</div>
