@import 'colors';

.settings-panel {
  display: flex;
  gap: 40px;

  .option-block {
    flex: 1;
    border-right: 1px dashed $medium-black;
    padding-right: 40px;

    &:last-child {
      border-right: none;
      padding-right: 0;
    }

    h1 {
      font-family: 'Oxanium', cursive;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 12px;
      color: $white;
      border-bottom: 1px dashed $medium-black;
      padding-bottom: 14px;
      margin-bottom: 12px;
    }

    .option {
      margin-bottom: 16px;
      font-weight: bolder;

      &:last-child {
        margin-bottom: 0;
      }

      &.flex-space-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .badge {
      background-color: $black;
      padding: 7px 14px;
      display: inline-block;
      border-radius: 6px;
      font-size: 12px;
      font-weight: bolder;
      color: $primary;
      border: 2px solid $medium-black;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        border-color: $primary;
      }
    }
  }
}
