<xo-customer-layout>
  <div class="columns">
    <div class="column" *ngFor="let x of [].constructor(2)">
      <h2>username33</h2>
      <p>Idling CS:GO for <span>400 hour(s)</span></p>

      <button type="button" class="btn btn-rounded btn-outline btn-sm">
        <xo-icon icon="trash-bin" color="primary" [size]="21" [offset]="5"></xo-icon>
        Remove account
      </button>
    </div>
    <div class="column column-add">
      <h2>Start now</h2>
      <p>Get started boosting hours...</p>
      <button type="button" class="btn btn-rounded btn-outline btn-sm">
        <xo-icon icon="plus-square" color="primary" [size]="21" [offset]="5"></xo-icon>
        Connect account
      </button>
    </div>
  </div>
</xo-customer-layout>
