:host {
  display: block;
  padding-top: 15vh;
  padding-bottom: 21vh;
  text-align: center;

  h1 {
    font-family: 'Oxanium', cursive;
    font-weight: bold;
    font-size: 120px;
  }

  h2 {
    font-family: 'Oxanium', cursive;
  }
}
