@import 'colors';
@import 'mixins';

h5 {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 21px;
}

.dialog-content {
  padding: 60px 60px 40px 60px;
  position: relative;
  width: 100%;

  @include mobile() {
    padding: 100px 40px 80px 40px;
  }

  .weapons {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    margin-bottom: 20px;
  }

  .footer {
    display: flex;
    align-items: center;

    .help span {
      color: $primary;
      font-weight: bolder;
    }

    .btn-create {
      border: 2px solid $primary;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
