<div class="container">
  <div class="row">
    <div class="content">
      <h1 class="mb-3">
        <xo-icon icon="check-square" color="primary" [size]="33" [offset]="4"></xo-icon>
        Apply for membership
      </h1>
      <h2 class="mb-3">Want access to the best legit cheat on the market?</h2>
      <p class="mb-3">Fill out this form and we will take your application into consideration.</p>
      <form>
        <label for="alias" class="form-label">Your alias</label>
        <input type="text" class="form-control mb-3" placeholder="Enter alias / nickname" />

        <label for="alias" class="form-label">E-mail address</label>
        <input type="email" class="form-control mb-3" placeholder="Your e-mail address" />

        <label for="alias" class="form-label">How much experience do you have with cheats?</label>
        <textarea class="form-control mb-5" rows="7" placeholder="Let us know why you deserve a spot in our community..."></textarea>

        <button type="button" class="btn btn-rounded ml-auto">Submit application</button>
      </form>
    </div>
    <div class="col-right">
      <h1 class="apply-text">APPLY</h1>
    </div>
  </div>
</div>
