@import 'colors';

:host {
  display: block;
  min-height: calc(100vh - 286px);

  p {
    line-height: 33px;
  }

  a {
    color: $primary;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
